body{
  background-color: #0cad8a ;
  padding: 10px;
  border-right-style:double;
  border-left-style:double;
  border-top-style:double;
  border-bottom-style:double;
}
.sisalto1 {
  margin-top: 10px;
  border:1px #ffffff solid;
  padding: 20px;
  border-radius: 20px
}
.sisalto2 {
  margin-top: 10px;
  border:1px #ffffff solid;
  padding: 20px;
  border-radius: 20px
}
.sisalto3 {
  margin-top: 10px;
  border:1px #ffffff solid;
  padding: 20px;
  border-radius: 20px
}
.sisalto4 {
  margin-top: 10px;
  border:1px #ffffff solid;
  padding: 20px;
  border-radius: 20px
}
.sisalto5 {
  margin-top: 10px;
  border:1px #ffffff solid;
  padding: 20px;
  border-radius: 20px
}
.nappula{
  background-color: #000000;
  color:#ffffff;
  text-decoration: underline;
  padding: 10px;
  border: none;
}
.nappula:hover{
  background-color: #5e1414;
  color:#ffffff;
}
.asemointi{
  position: fixed;
  top: 800px;
  left: 0px;
}
a:link{
  color:#ffffff;
}